::-webkit-scrollbar{
    width: 0px;  
    height: 0px;  
    background-color: #F5F5F5;  
}
.advice-box{
    margin-bottom: 30px;
    width: 52%;
    margin-left: 200px;
    border: 1px solid red;
}
.advice-btn{
   
}
.box-padding{
    padding: 0px;
}
.advice p{
    margin-left: 208px;
}