::-webkit-scrollbar{
    width: 0px;  
    height: 40px;  
    background-color: #F5F5F5;  
}
.panel-heading{
    font-size: 16px;
    font-weight: bold;
}
a{
    text-decoration: none;
}
a:hover{
    color: #fff;
    text-decoration: none;
}
.download-btn{
    display: block;
    width: 60px;
    height: 30px;
    background:#9844af;

    margin: auto;
    cursor: pointer;
    padding: 5px;
    color: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #ccc;
}
.download-btn:hover{
    background: #690684;
}
.glyphicon-minus:before{
   color: #9844af; 
}
.glyphicon-plus:before{
    color: #9844af; 
}
.tool-download h4{
    margin-left: 10px;
}
.tool-download ul{
    list-style: none;
    height: 20px;
}
.tool-download ul li{
    float: left;
    width: 16%;
    font-size: 14px;
    text-align: center;
}

.tool-download ul li:nth-of-type(1) a{
    background: url(../images/drop-arrow.png) no-repeat left center;
    padding-left:30px;
    
}
a:hover{
   color:#23527c;
}