#myCarousel {
    height: auto;
}

.carousel-inner .item{
    height: auto;
}

.carousel-inner .item img{
    width: 100%;
    height:400px; 
}

@media (min-width: 768px){
    .navbar-header {
        float: left;
        margin-top: -14px;
    }
}
.mynav{
    width: 800px;
    margin: 0 auto;
    font-size: 16px;
}

.main .container-right{
    float: right;
    height: 318px;
    width: 260px;
    margin-right: 50px;
    border-radius: 3px;
}

.login{
    height:inherit;
}
.control-label{
    font-size: 12px;
    padding: 10px 0;
}
.login .col-sm-9{
 padding:0 5px;
}
.login .col-sm-10{
    padding: 0 28px;
}
.hide{
    display: none;
}
.forget-password{
    margin-left: 160px;
}
a{
    text-decoration: none;
}

.panel-heading{
    font-size: 16px;
    font-weight: bold;
}

.container{
    width: 900px;
    margin-left: 100px;
}

.page-content{
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
}

