.register .form-horizontal{
    margin-top: 100px;
}
.register .form-group{
    margin-bottom: 30px;
    height: 34px;
}
.register-btn{
    width: 370px;
    height: 40px;
}
.register .col-sm-6{
    padding: 0px;
}
.box-padding{
    padding: 0px;
}
.register{
    height: 600px;
}
.panel-heading{
    font-size: 16px;
    font-weight: bold;
}